// Descriptive color variables
$white: #fff;
$black: #000;
$orange: #dc7725;
$light-grey: #bdbdb7;
$middle-grey: #646461;
$dark-grey: #494946;


// Font stacks

$stack-fjalla: 'Fjalla One', sans-serif;
$stack-open-sans: 'Open Sans', sans-serif;
$stack-radley: 'Radley', serif;


// Media query breakpoints

$brk-small: '(max-width: 767px)';
